body,html{
  font-size: 12px;
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC','STHeitiSC-Light', 'Helvetica-Light', arial;
  height: 100%;
  width: 100%;
}
.clearfix:after {
	content: "";
	display: block;
	height: 0;
  line-height: 0;
	clear: both;
	visibility: hidden
}
.clearfix {
  *zoom:1
}
*{
  box-sizing: border-box;
}

/*@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){

}
@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){

}*/
